body {
    
    background-image: url(../imagenes/venus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial', sans-serif;
  
}
  
h1 {
  
  text-align: center;
  font-family: 'Kanit', sans-serif;
  color: #FDB813; /* Half-Life yellow color */
  margin-bottom: 30px; /* Adds space below the h1 element */
  font-size: 92px; /* Increase the font size */
  text-transform: uppercase; /* Transform the text to uppercase */
  letter-spacing: 2px; /* Add letter spacing */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
  font-weight: normal; /* Make the text bold */
  animation: glow 5s infinite alternate;
}

@keyframes glow {
  0% {
       text-shadow: none;
  }
  50% {
       text-shadow: 0 0 10px #FDB813;
  }
  100% {
        text-shadow: none;
  }
}

.description-container {
            
  text-align: right;
  padding: 20px 40px;
}

.description p {
  
  margin-bottom: 10px;

}

.description br {
  display: block;
  margin: 10px 0;
  content: "";

}

.button-container {
      position: fixed;
      bottom: 25px;
      right: 20px;
}
        
.button {
    padding: 20px 30px;
    background-color: #FDB813;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:not(:last-child) {
    margin-right: 300px;
}
        
.button:hover {
    background-color: #EFA500;
}


.description {
            
      text-align: left;
      font-family: 'Kanit', sans-serif;
      font-weight: normal;
      font-size: 20px;
      text-align: justify;
      color: #FDB813;
      display: inline-block;
      border: 2px solid #808080; /* Add a gray border */
      padding: 20px; /* Add padding inside the border */
      vertical-align: top; /* Align the element to the top */
      float: right; /* Align the element to the right */
      box-sizing: border-box; /* Include border and padding within the element's total width */
      margin: 10px; /* Add some margin for spacing */
      max-width: 45%; /* Limit the width to fit within the gray box */
      box-sizing: border-box; /* Include border and padding within the element's total width */
      box-shadow: 0 0 10px #808080; /* Add a glowing effect
      
}




