body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url('../Imagenes/venus1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial', sans-serif;
  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Change justify-content value */

}

.mp3-player {
            position: absolute;
            top: 25px;
            right: 20px;
            z-index: 1;
}

.mp3-player audio::-webkit-media-controls-panel {
            background-color: #fb7e14;
            color: #ffffff;
}
  
h1 {
  
  text-align: center;
  font-family: Garamond, serif;
  color: #fb7e14; /* Hf yellow color */
  font-size: 92px; /* Increase the font size */
  text-transform: uppercase; /* Transform the text to uppercase */
  letter-spacing: 2px; /* Add letter spacing */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
  font-weight: normal; /* Make the text bold */
  animation: glow 5s infinite alternate;
}


@keyframes glow {
  0% {
       text-shadow: none;
  }
  50% {
       text-shadow: 0 0 10px #fb7e14;
  }
  100% {
        text-shadow: none;
  }
}

.textbox {
            
    color: #fb7e14;
    text-align: right;
    max-width: 95%;
    margin-bottom: 65px;
}

.description-container {
            
  text-align: right;
  padding: 0px 40px;
}

.description {

  font-family: 'Courier New', monospace;
  font-weight: normal;
  font-size: 19px;
  text-align: justify;
  color: #fb7e14;
  border: 2px solid #808080; /* Add a gray border */
  padding: 20px; /* Add padding inside the border */
  vertical-align: top; /* Align the element to the top */
  float: right; /* Align the element to the right */
  box-sizing: border-box; /* Include border and padding within the element's total width */
  margin: 10px 10px -5px; /* Add margin-top of 10px and remove margin-bottom */
  max-width: 45%; /* Limit the width to fit within the gray box */
  box-sizing: border-box; /* Include border and padding within the element's total width */
  box-shadow: 0 0 10px #808080; /* Add a glowing effect */

}

.description p {
  
  margin-bottom: 10px;

}

.description br {
  display: block;
  margin: 10px 0;
  content: "";

}

.button-container {
    align-self: flex-end; /* Align the container to the right */
    margin-right: 10px; /* Add margin to the right */
}
        
.button {
    padding: 15px 30px;
    background-color: #fb7e14;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:not(:last-child) {
    margin-right: 320px;
}
        
.button:hover {
    background-color: #9b4c07;
}

@media screen and (max-width: 720px) {
  
  body{
    flex-direction: column;
    
  }
  
  h1 {
      font-size: 48px;
  }

  .mp3-player{
    flex-direction: column;
    top: 45px;
  }

  .description {
      max-width: 50%;
      margin: 10px;
      color: #fb7e14;
      flex-direction: column;
  }

  .button-container {
      flex-direction: column;
  }

  .button {
      margin-right: 0;
      margin-bottom: 10px;
  }

  .button:not(:last-child) {
    margin-right: 0; /* Reset margin to remove the overlap */
    margin-bottom: 20px; /* Add margin bottom to create spacing between buttons */
  }
}

@media screen and (min-width: 2560px) {
  .button:not(:last-child) {
    margin-right: 320px;
  }
}